# Python files
__pycache__/
*.py[cod]

# Python testing files
.coverage

# Ignore macOS Finder meta
.DS_Store
.tm_properties

# Ignore optional build / cache directory
/build
/result
/result-*

# Ignore generated resources
/resources/generated
/devutils/i18n-data
